/* line 151, ../../app/stylesheets/_utils.sass */
a.as_button {
  background: transparent url(/images/btns_13.png) no-repeat right 0;
  color: white;
  display: inline-block;
  height: 43px;
  padding-right: 24px;
  text-decoration: none;
  text-shadow: #4d639c 0 -1px 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: white;
}
/* line 177, ../../app/stylesheets/_utils.sass */
a.as_button:visited {
  color: white;
}
/* line 181, ../../app/stylesheets/_utils.sass */
a.as_button:hover {
  background: transparent url(/images/btns_13.png) no-repeat right -42px;
  color: white;
  outline: none;
  text-shadow: #666666 0 -1px 0;
}
/* line 191, ../../app/stylesheets/_utils.sass */
a.as_button:hover span {
  background: transparent url(/images/btns_12.png) no-repeat 0 -42px;
}
/* line 195, ../../app/stylesheets/_utils.sass */
a.as_button span {
  background: transparent url(/images/btns_12.png) no-repeat 0 0;
  display: block;
  padding: 13px 0 17px 26px;
}
/* line 203, ../../app/stylesheets/_utils.sass */
a.as_button strong {
  text-transform: none;
}

/* line 7, ../../app/stylesheets/e.sass */
body {
  font-family: "Helvetica Neue (TT)", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
}

/* line 15, ../../app/stylesheets/e.sass */
p {
  margin-bottom: 13px;
  line-height: 19.5px;
  margin: 0;
  margin-bottom: 13px;
}

/* line 27, ../../app/stylesheets/e.sass */
article, aside, footer, header, nav, section, dialog, figure, hgroup, menu {
  display: block;
}

/* line 33, ../../app/stylesheets/e.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 41, ../../app/stylesheets/e.sass */
h1 {
  font-size: 26px;
  line-height: 30px;
}

/* line 49, ../../app/stylesheets/e.sass */
h2 {
  font-size: 18px;
  line-height: 21px;
}

/* line 57, ../../app/stylesheets/e.sass */
h3 {
  font-size: 16px;
  line-height: 16px;
}

/* line 65, ../../app/stylesheets/e.sass */
h4 {
  font-size: 14px;
  line-height: 14px;
}

/* line 73, ../../app/stylesheets/e.sass */
del, ins {
  text-decoration: none;
}

/* line 79, ../../app/stylesheets/e.sass */
nav ul {
  list-style-type: none;
}

/* line 85, ../../app/stylesheets/e.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  width: auto;
  height: auto;
}

/* line 99, ../../app/stylesheets/e.sass */
input {
  margin: 0;
}

/* line 105, ../../app/stylesheets/e.sass */
textarea {
  overflow: auto;
}

/* line 111, ../../app/stylesheets/e.sass */
body {
  padding: 10px 0;
}

/* line 117, ../../app/stylesheets/e.sass */
strong, b {
  font-weight: bold;
}

/* line 123, ../../app/stylesheets/e.sass */
em, dfn, i {
  font-style: italic;
}

/* line 129, ../../app/stylesheets/e.sass */
sup, sub {
  vertical-align: baseline;
  position: relative;
}

/* line 137, ../../app/stylesheets/e.sass */
sup {
  top: -0.4em;
}

/* line 143, ../../app/stylesheets/e.sass */
sub {
  bottom: -0.3em;
}

/* line 149, ../../app/stylesheets/e.sass */
blockquote {
  padding-left: 10px;
  padding-right: 5px;
  border-left: 3px solid #dddddd;
  margin-bottom: 1.5em;
}

/* line 161, ../../app/stylesheets/e.sass */
.img_left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 171, ../../app/stylesheets/e.sass */
.img_right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 181, ../../app/stylesheets/e.sass */
.editor_video_box {
  width: 300px;
  height: 200px;
  background: url(../i/video_box.png) center no-repeat black !important;
  margin: 1.3em;
}

/* line 193, ../../app/stylesheets/e.sass */
.editor_video_box object, .editor_video_box embed, .editor_video_box iframe {
  display: none;
}

/* line 199, ../../app/stylesheets/e.sass */
.editor_file_link {
  padding-left: 20px;
}

/* line 205, ../../app/stylesheets/e.sass */
table {
  border-collapse: collapse;
  font-size: 1em;
  margin: 0 10px;
  margin-bottom: 1.3em;
}

/* line 217, ../../app/stylesheets/e.sass */
table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

/* line 225, ../../app/stylesheets/e.sass */
table thead td {
  border-bottom: 2px solid black !important;
  font-weight: bold;
}

/* line 233, ../../app/stylesheets/e.sass */
code, pre {
  font: "1.2em/1 'Courier New', Courier, monospace";
  background: #f5f5f5;
  padding: 1em;
  margin: 0 10px;
  margin-bottom: 1.3em;
}

/* line 247, ../../app/stylesheets/e.sass */
pre {
  border: 1px dashed #cccccc;
  line-height: 1.7em;
  font-size: 0.9em;
  background: #f5f5f5;
  overflow: auto;
}
