/* line 3, ../../app/stylesheets/EB5Seminar.sass */
#admin_nav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

/* line 15, ../../app/stylesheets/EB5Seminar.sass */
#speakers h1, #sponsors h1 {
  color: #d10e0c;
  margin: 30px 0px;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#speakers h2, #sponsors h2 {
  color: #1c4daf;
  margin: 0px;
  font-family: "HelveticaNeueLTStd-Roman";
}

/* line 33, ../../app/stylesheets/EB5Seminar.sass */
#sponsors img {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 39, ../../app/stylesheets/EB5Seminar.sass */
#sponsors #sponsor {
  margin-bottom: 40px;
}
/* line 43, ../../app/stylesheets/EB5Seminar.sass */
#sponsors .website {
  margin-top: 20px;
}
/* line 47, ../../app/stylesheets/EB5Seminar.sass */
#sponsors .website a {
  color: black;
  font-family: "HelveticaNeueLTStd-Bd";
}

/* line 55, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker {
  margin-bottom: 40px;
}
/* line 59, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_photo {
  float: left;
}
/* line 63, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info {
  margin-left: 120px;
}
/* line 67, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info .speaker_name {
  text-transform: uppercase;
}
/* line 71, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info .speaker_about {
  margin-top: 15px;
}

/* line 79, ../../app/stylesheets/EB5Seminar.sass */
#resources #tab1, #resources #tab2 {
  margin-top: 30px;
}
/* line 83, ../../app/stylesheets/EB5Seminar.sass */
#resources ul {
  margin-bottom: 30px;
}
/* line 87, ../../app/stylesheets/EB5Seminar.sass */
#resources h2 {
  color: #1c4daf;
  margin-bottom: 10px;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 97, ../../app/stylesheets/EB5Seminar.sass */
#resources h3 a {
  color: #1c4daf;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 103, ../../app/stylesheets/EB5Seminar.sass */
#resources a {
  color: black;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 109, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message {
  margin-top: 30px;
  width: 450px;
}
/* line 115, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message img {
  float: left;
}
/* line 119, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message .pdf_text {
  padding-top: 10px;
  margin-left: 80px;
  font-size: 12px;
  font-family: "HelveticaNeueLTStd-Roman";
}

@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("/fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: "HelveticaNeueLTStd-Roman";
  src: url("/fonts/HelveticaNeueLTStd-Roman.otf");
}

/* line 143, ../../app/stylesheets/EB5Seminar.sass */
#header {
  background: url(/images/slices/bg_top_pattern.png) repeat-x;
}

/* line 147, ../../app/stylesheets/EB5Seminar.sass */
#home_nav {
  font-size: 14px;
  height: 48px;
}
/* line 153, ../../app/stylesheets/EB5Seminar.sass */
#home_nav ul {
  float: right;
}
/* line 157, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li {
  margin-top: 16px;
  float: left;
}
/* line 163, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li a {
  color: #959595;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 171, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li.current a {
  color: white;
}

/* line 175, ../../app/stylesheets/EB5Seminar.sass */
#copyright {
  float: left;
  color: #959595;
  padding-top: 22px;
}

/* line 183, ../../app/stylesheets/EB5Seminar.sass */
#logo {
  height: 70px;
  padding-top: 10px;
  font: 14px "HelveticaNeueLTStd-Roman";
  margin-bottom: 25px;
}

/* line 193, ../../app/stylesheets/EB5Seminar.sass */
#flag_container {
  height: 480px;
  background: url(/images/slices/bg_red_pattern.png) repeat-x;
}

/* line 199, ../../app/stylesheets/EB5Seminar.sass */
.flag_shadow {
  height: 480px;
  background: url(/images/slices/bg_red_shadow.jpg);
}

/* line 205, ../../app/stylesheets/EB5Seminar.sass */
.flag {
  position: absolute;
  top: 150px;
  height: 400px;
  width: 960px;
  background: url(/images/slices/flag_01.jpg) repeat-x;
  padding-top: 40px;
}

/* line 219, ../../app/stylesheets/EB5Seminar.sass */
.flag_text {
  height: 300px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.9;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 233, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_title {
  padding-top: 30px;
  float: left;
}
/* line 239, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_button {
  padding-top: 30px;
  float: right;
}
/* line 245, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_24 {
  font-weight: bold;
  font: 24px "HelveticaNeueLTStd-Bd";
}
/* line 251, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_16 {
  font: 16px "HelveticaNeueLTStd-Roman";
  padding: 10px;
  line-height: 26px;
}
/* line 259, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_14 {
  font: 14px "HelveticaNeueLTStd-Roman";
  line-height: 24px;
}

/* line 267, ../../app/stylesheets/EB5Seminar.sass */
#tab1 {
  float: left;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 277, ../../app/stylesheets/EB5Seminar.sass */
#tab2 {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 450px;
}

/* line 289, ../../app/stylesheets/EB5Seminar.sass */
.tab_title {
  font-weight: bold;
  font: 20px "HelveticaNeueLTStd-Bd";
}

/* line 295, ../../app/stylesheets/EB5Seminar.sass */
.tab_text {
  line-height: 20px;
  margin-top: 10px;
  font: 14px "Arial Regular";
  text-align: left;
}
