/* line 39, ../../app/stylesheets/EB5Seminar.sass */
#main_menu {
  background: url("/images/menu.png");
  width: 980px;
  height: 43px;
}
/* line 47, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #home_link {
  width: 61px;
  height: 43px;
  display: inline-block;
  background: url("/images/01_home.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #home_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #home_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #home_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #home_link.disable:hover {
  background-position: 0px 43px;
}
/* line 51, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #about_link {
  width: 74px;
  height: 43px;
  display: inline-block;
  background: url("/images/02_about.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #about_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #about_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #about_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #about_link.disable:hover {
  background-position: 0px 43px;
}
/* line 55, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #agenda_link {
  width: 88px;
  height: 43px;
  display: inline-block;
  background: url("/images/03_agenda.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #agenda_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #agenda_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #agenda_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #agenda_link.disable:hover {
  background-position: 0px 43px;
}
/* line 59, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #speakers_link {
  width: 98px;
  height: 43px;
  display: inline-block;
  background: url("/images/04_speakers.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #speakers_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #speakers_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #speakers_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #speakers_link.disable:hover {
  background-position: 0px 43px;
}
/* line 63, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #venue_link {
  width: 82px;
  height: 43px;
  display: inline-block;
  background: url("/images/05_venue.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #venue_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #venue_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #venue_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #venue_link.disable:hover {
  background-position: 0px 43px;
}
/* line 67, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #sponsors_link {
  width: 94px;
  height: 43px;
  display: inline-block;
  background: url("/images/06_sponsors.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #sponsors_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #sponsors_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #sponsors_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #sponsors_link.disable:hover {
  background-position: 0px 43px;
}
/* line 71, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #costs_link {
  width: 73px;
  height: 43px;
  display: inline-block;
  background: url("/images/07_costs.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #costs_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #costs_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #costs_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #costs_link.disable:hover {
  background-position: 0px 43px;
}
/* line 75, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #resources_link {
  width: 101px;
  height: 43px;
  display: inline-block;
  background: url("/images/08_resources.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #resources_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #resources_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #resources_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #resources_link.disable:hover {
  background-position: 0px 43px;
}
/* line 79, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #contact_us_link {
  width: 107px;
  height: 43px;
  display: inline-block;
  background: url("/images/09_contact.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #contact_us_link.active {
  background-position: 0px -43px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #contact_us_link.inactive {
  background-position: 0px 43px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #contact_us_link:hover {
  background-position: 0px -43px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #contact_us_link.disable:hover {
  background-position: 0px 43px;
}
/* line 83, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input {
  margin-top: 6px;
  margin-right: 3px;
  width: 154px;
  height: 31px;
  display: inline-block;
  background: url("/images/search.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input.active {
  background-position: 0px -31px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input.inactive {
  background-position: 0px 31px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input:hover {
  background-position: 0px -31px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input.disable:hover {
  background-position: 0px 31px;
}
/* line 91, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_input:hover {
  background-position: 0px 0px !important;
}
/* line 95, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_link {
  margin-top: 6px;
  width: 35px;
  height: 31px;
  display: inline-block;
  background: url("/images/btn_go.png") 0px 0px no-repeat;
  border-style: none;
  border-width: 0;
  overflow: hidden;
  float: left;
}
/* line 19, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_link.active {
  background-position: 0px -31px;
}
/* line 23, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_link.inactive {
  background-position: 0px 31px;
}
/* line 27, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_link:hover {
  background-position: 0px -31px;
}
/* line 31, ../../app/stylesheets/EB5Seminar.sass */
#main_menu #search_link.disable:hover {
  background-position: 0px 31px;
}

/* line 105, ../../app/stylesheets/EB5Seminar.sass */
#admin_nav li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

/* line 117, ../../app/stylesheets/EB5Seminar.sass */
#speakers h1, #sponsors h1 {
  color: #d10e0c;
  margin: 30px 0px;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 125, ../../app/stylesheets/EB5Seminar.sass */
#speakers h2, #sponsors h2 {
  color: #1c4daf;
  margin: 0px;
  font-family: "HelveticaNeueLTStd-Roman";
}

/* line 135, ../../app/stylesheets/EB5Seminar.sass */
#sponsors img {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 141, ../../app/stylesheets/EB5Seminar.sass */
#sponsors #sponsor {
  margin-bottom: 40px;
}
/* line 145, ../../app/stylesheets/EB5Seminar.sass */
#sponsors .website {
  margin-top: 20px;
}
/* line 149, ../../app/stylesheets/EB5Seminar.sass */
#sponsors .website a {
  color: black;
  font-family: "HelveticaNeueLTStd-Bd";
}

/* line 157, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker {
  margin-bottom: 40px;
}
/* line 161, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_photo {
  float: left;
}
/* line 165, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info {
  margin-left: 120px;
}
/* line 169, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info .speaker_name {
  text-transform: uppercase;
}
/* line 173, ../../app/stylesheets/EB5Seminar.sass */
#speakers #speaker .speaker_info .speaker_about {
  margin-top: 15px;
}

/* line 181, ../../app/stylesheets/EB5Seminar.sass */
#resources #tab1, #resources #tab2 {
  margin-top: 30px;
}
/* line 185, ../../app/stylesheets/EB5Seminar.sass */
#resources ul {
  margin-bottom: 30px;
}
/* line 189, ../../app/stylesheets/EB5Seminar.sass */
#resources h2 {
  color: #1c4daf;
  margin-bottom: 10px;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 199, ../../app/stylesheets/EB5Seminar.sass */
#resources h3 a {
  color: #1c4daf;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 205, ../../app/stylesheets/EB5Seminar.sass */
#resources a {
  color: black;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 211, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message {
  margin-top: 30px;
  width: 450px;
}
/* line 217, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message img {
  float: left;
}
/* line 221, ../../app/stylesheets/EB5Seminar.sass */
#resources #pdf_message .pdf_text {
  padding-top: 10px;
  margin-left: 80px;
  font-size: 12px;
  font-family: "HelveticaNeueLTStd-Roman";
}

@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("/fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: "HelveticaNeueLTStd-Roman";
  src: url("/fonts/HelveticaNeueLTStd-Roman.otf");
}

/* line 245, ../../app/stylesheets/EB5Seminar.sass */
#header {
  /*background: url(/images/slices/bg_top_pattern.png) repeat-x */
}

/* line 249, ../../app/stylesheets/EB5Seminar.sass */
#home_nav {
  font-size: 14px;
  height: 43px;
}
/* line 255, ../../app/stylesheets/EB5Seminar.sass */
#home_nav ul {
  float: right;
}
/* line 259, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li {
  margin-top: 16px;
  float: left;
}
/* line 265, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li a {
  color: #959595;
  font-family: "HelveticaNeueLTStd-Roman";
}
/* line 273, ../../app/stylesheets/EB5Seminar.sass */
#home_nav li.active a {
  color: white;
}

/* line 277, ../../app/stylesheets/EB5Seminar.sass */
#copyright {
  float: right;
  color: #959595;
  padding-top: 23px;
  margin-right: 2em;
}

/* line 287, ../../app/stylesheets/EB5Seminar.sass */
#logo {
  height: 55px;
  padding-top: 10px;
  font: 14px "HelveticaNeueLTStd-Roman";
  margin-bottom: 25px;
}
/* line 297, ../../app/stylesheets/EB5Seminar.sass */
#logo .title {
  font: 33px "HelveticaNeueLTStd-Roman";
}

/* line 301, ../../app/stylesheets/EB5Seminar.sass */
#flag_container {
  height: 480px;
  /*background: url(/images/slices/bg_red_pattern.png) repeat-x */
}

/* line 307, ../../app/stylesheets/EB5Seminar.sass */
.flag_shadow {
  height: 480px;
  /*background: url(/images/slices/bg_red_shadow.jpg) */
}

/* line 313, ../../app/stylesheets/EB5Seminar.sass */
.flag {
  position: absolute;
  top: 150px;
  height: 400px;
  width: 980px;
  background: url(/images/slices/example.jpg) repeat-x;
  padding-top: 40px;
}

/* line 327, ../../app/stylesheets/EB5Seminar.sass */
.flag_text {
  height: 300px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.9;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 341, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_title {
  padding-top: 30px;
  float: left;
}
/* line 347, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_button {
  padding-top: 30px;
  float: right;
}
/* line 353, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_24 {
  font-weight: bold;
  font: 24px "HelveticaNeueLTStd-Bd";
}
/* line 359, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_16 {
  font: 16px "HelveticaNeueLTStd-Roman";
  padding: 10px;
  line-height: 26px;
}
/* line 367, ../../app/stylesheets/EB5Seminar.sass */
.flag_text .flag_text_14 {
  font: 14px "HelveticaNeueLTStd-Roman";
  line-height: 24px;
}

/* line 375, ../../app/stylesheets/EB5Seminar.sass */
#tab1 {
  float: left;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 385, ../../app/stylesheets/EB5Seminar.sass */
#tab2 {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 450px;
}

/* line 397, ../../app/stylesheets/EB5Seminar.sass */
.home_title {
  font-weight: bold;
  font: 20px "HelveticaNeueLTStd-Bd";
}

/* line 403, ../../app/stylesheets/EB5Seminar.sass */
.home_text {
  line-height: 20px;
  font: 14px "HelveticaNeueLTStd-Roman";
  text-align: left;
}

/* line 413, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container, .international_container {
  margin-bottom: 20px;
  min-height: 130px;
}
/* line 419, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container .line, .international_container .line {
  float: left;
  border: 0px;
  height: 1px;
  background-color: #959595;
  margin-top: 9px;
}
/* line 431, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container .home_title, .international_container .home_title {
  float: left;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 441, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container #city_container, .international_container #city_container {
  margin-top: 10px;
}
/* line 445, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container #city_container .city, .international_container #city_container .city {
  font: 14px "HelveticaNeueLTStd-Roman";
  float: left;
}
/* line 451, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container #city_container .city img, .international_container #city_container .city img {
  float: left;
  margin-top: 5px;
}

/* line 461, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container .line {
  width: 420px;
  float: right;
}
/* line 467, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container .line:first-child {
  float: left;
}
/* line 471, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container img {
  width: 170px;
  height: 80px;
}
/* line 477, ../../app/stylesheets/EB5Seminar.sass */
.united_states_container .city {
  margin-right: 13px;
  margin-left: 13px;
}

/* line 487, ../../app/stylesheets/EB5Seminar.sass */
.international_container .line {
  width: 415px;
  float: right;
}
/* line 493, ../../app/stylesheets/EB5Seminar.sass */
.international_container .line:first-child {
  width: 420px;
  float: left;
}
/* line 499, ../../app/stylesheets/EB5Seminar.sass */
.international_container img {
  width: 120px;
  height: 90px;
}
/* line 505, ../../app/stylesheets/EB5Seminar.sass */
.international_container .city {
  margin-right: 10px;
  margin-left: 10px;
}

/* line 515, ../../app/stylesheets/EB5Seminar.sass */
#slideshow {
  width: 980px;
  height: 345px;
  margin-bottom: 15px;
}
/* line 523, ../../app/stylesheets/EB5Seminar.sass */
#slideshow img {
  width: 980px;
  height: 345px;
  display: none;
  margin: auto;
}
/* line 535, ../../app/stylesheets/EB5Seminar.sass */
#slideshow img:first-child {
  display: block;
  margin: auto;
}
