#header  
  #home_nav.container
    = render 'shared/menu'

#logo.container
  .title INTERNATIONAL VENTURE CAPITAL WORKSHOPS
  .clear
  = pc("HOME header slogan")

  = #render 'shared/main'
