#header  
  #home_nav.container
    = render 'shared/menu'
#logo.container
  = link_to image_tag("slices/logo.png"), root_path
  .clear
  = pc("HOME header slogan")
- if controller.controller_name == "home" && controller.action_name=="index"
  = render 'shared/main'
- else
  #flag_container{:style => "height: 48px !important"}