#home_nav
	background: url(/images/slices/bg_top_pattern.png) repeat-x
	font-size: 14px
	height: 48px
	width: 100%
	ul		
		float: right
	li		
		margin-top: 16px
		float: left
		a
			color: white