#tab1
  .tab_title
    One goal
  .tab_text
    %p
      This seminar is to educate foreign nationals, immigration attorneys and professionals who assist their clients in using the EB-5 visa to establish U.S. permanent residency, as well as public and private entities who are considering using foreign investment as a source of funding to finance commercial and public enterprises.
    %p
      Our aim is to invite the most knowledgeable speakers to discuss the issues that practicing professionals need to know to better assist their clients whether they are high net worth foreign nationals seeking U.S. residency, or entrepreneurs and developers looking for guidance on how to source foreign investment through the use of the USCIS EB-5 Foreign Investor program.
#tab2
  .tab_title
    Who is this seminar for?
  .tab_text
    %ul
      %li High Net Worth Foreign Nationals
      %li Immigration Attorneys
      %li Non-Immigration Attorneys who work with Foreign Nationals
      %li CPA’s, Commercial & Private Bankers
      %li Asset & Estate Planners & Practitioners
      %li Commercial Project Developers
      %li Real Estate Professionals
      %li Economic Development Council members
      %li Chamber of Commerce, Mayor’s and Governor’s seeking FDI
      %li University Administrators as an alternative to an F visa
    %p
      We will have some of the top professionals in the field discussing all of the issues that are relevant to the EB-5 program and we will have plenty of opportunity to meet and network with those in attendance.