#tab1
  .tab_title
    = pc('HOME page, left tab title')
  .tab_text
    = pc('HOME page, left tab content')
#tab2
  .tab_title
    = pc('HOME page, right tab title')
  .tab_text
    = pc('HOME page, right tab content')