#resources

  #pdf_message
    = link_to image_tag("pdf_icon.png"), "http://get.adobe.com/reader/", :target => "blank"
    .pdf_text
      Viewing .pdf documents requires the latest version of Adobe Reader. Adobe Reader is available for download free of charge by clicking the icon above.
  
  .clear    
  #tab1
    - @documents.each do |document|
      #resource
        - if document.has_title_of_attach?
          %h2= document.title
          %ul
            - document.attachments.each do |a|
              %li
                = link_to a.title, a.attachment.url
  #tab2
    - @documents.each do |document|
      #resource
        - if document.has_title_of_attach?
        - else
          - document.attachments.each do |a|
            %h3= link_to document.title, a.attachment.url